<div *ngIf="auth.user$ | async; then authenticated else guest">
</div>

<ng-template #guest>

</ng-template>

<ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user">

        <mat-toolbar color="primary" class="navbar">
            <div>Rent-a-Car</div>
            <div class="navbar-buttons">
                <img mat-button [matMenuTriggerFor]="menu" alt="Avatar" class="avatar" [src]="user.photoURL">
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Perfil</button>
                    <button mat-menu-item (click)="auth.signOut()">Cerrar Sesión</button>
                </mat-menu>
            </div>
        </mat-toolbar>
    </div>
</ng-template>