<h1>Alquilar Vehiculo</h1>

<form class="rent-form" [formGroup]="rentForm">
    <mat-form-field class="rent-form-input">
        <mat-label>Desde</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="from">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field class="rent-form-input">
        <mat-label>Hasta</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="to">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <br>
    <button (click)="handleCancel()" mat-button>Cancelar</button>
    <button (click)="handleSubmit()" mat-raised-button color="primary">Alquilar</button>
</form>