<mat-card style="width: -webkit-fill-available;">

    <h1>Edita el Vehiculo</h1>

    <h3>Cambia la imagen</h3>
    <input type="file" id="file" #userPhoto (change)="onFileSelected($event)" name="image" autocomplete="off" />
    <img *ngIf="fb2 != ''" height="200px" src="{{fb2}}">
    <form *ngIf="carForm" class="car-form" [formGroup]="carForm">
        <mat-form-field class="car-form-input">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <br />
        <mat-form-field class="car-form-input">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <br />
        <mat-form-field class="car-form-input">
            <mat-label>Año</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="year">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button [disabled]="blockButton" (click)="handleSubmit()" mat-raised-button color="primary">Guardar</button>
    </form>
</mat-card>